.container{
    height: 100vh;
}

.deadLine{
    background-color: black!important;
    width: 80px;
    height: 80px;
}

.oldPhone{
    color: rgb(116, 194, 240);
}

/* img:hover{
  transform: scale(1.01);
}

img{
    transition: transform .2s;

} */